<h3 style="text-align: center; color:blue; font-size: 30px;">Employee Management System</h3>
<hr>
<div class="container-fluid">
  <form action="">
    <div class="row">
      <div class="col-4">
        <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
          <mat-label>Employee Id</mat-label>
          <input matInput type="number" placeholder="Enter employee id">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
          <mat-label>Employee Name</mat-label>
          <input matInput type="name" placeholder="Enter employee name">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
